<legend>Chat</legend>
<table class="table table-bordered chat">
    <tr>
        <td class="col-sm-2">
            <legend>Rooms</legend>
            <ul id="rooms" class="nav nav-sidebar rooms">
                <li><a data-room="design">Design</a>
                </li>
                <li><a data-room="development">Development</a>
                </li>
                <li><a data-room="general">General</a>
                </li>
            </ul>
        </td>
        <td>
            <div id="conversation" class="conversation"></div>
            <input id="input" type="text">
        </td>
    </tr>
</table>
<div class="clearfix"></div>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:8082');
    socket.on('connect', function () {
        // call the server-side function 'adduser' and send one parameter (value of prompt)
        socket.emit('adduser', '{{session.username}}');
    });

    function switchRoom(room) {
        socket.emit('switchRoom', room);
    }
    window.onload = function () {

        // listener, whenever the server emits 'updatechat', this updates the chat body
        socket.on('updatechat', function (username, data) {
            $('#conversation').append('<b>' + username + ':</b> ' + data + '<br>');
        });

        // listener, whenever the server emits 'updaterooms', this updates the room the client is in
        socket.on('updaterooms', function (rooms, current_room) {
            $('#rooms').empty();
            $.each(rooms, function (key, value) {
                if (value == current_room) {
                    $('#rooms').append('<li>' + value + '</li>');
                } else {
                    $('#rooms').append('<li><a href="#" onclick="switchRoom(\'' + value + '\')">' + value + '</a></li>');
                }
            });
        });

        $('#input').on('keydown', function (e) {
            if (e.keyCode == 13) {
                var message = $(this).val();
                $(this).val('');
                // tell server to execute 'sendchat' and send along one parameter
                socket.emit('sendchat', message);
            }
        });
    }
</script>