<legend>Organization</legend>
<div class="table table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-sm-3">Title</th>
                <th class="col-sm-4">User</th>
                <th class="col-sm-1"></th>
            </tr>
        </thead>
        <tbody id="items">
        </tbody>
    </table>
</div>
{% if errors %}
<div class="alert alert-dismissable alert-danger">
    {{errors}}
</div>
{% endif %}
<form class="form ajax" method="post" action="./organization/add">
    <table class="table table-condensed">
        <tr>
            <td class="col-sm-2">
                <input type="text" class="form-control" placeholder="Title" name="title" list="titles" autocomplete="off">
                <datalist id="titles">
                    <option value="Customer">Customer</option>
                    <option value="Business Owner">Business Owner</option>
                    <option value="Product Owner">Product Owner</option>
                    <option value="Project Manager">Project Manager</option>
                    <option value="Analyst">Analyst</option>
                    <option value="Tester">Tester</option>
                    <option value="Developer">Developer</option>
                </datalist>
            </td>
            <td class="col-sm-4">
                <input type="text" class="form-control" placeholder="User" name="user" list="users" autocomplete="off">
                <datalist id="users"></datalist>
            </td>
            <td class="col-sm-1">
                <button type="submit" class="btn btn-default">Add member</button>
            </td>
        </tr>
    </table>

</form>
<script>
    function addItem(item) {
        var html = '<tr id="' + item['_id'] + '">' + '<td>' + item.title + '</td>' + '<td>' + item.user + '</td>' + '<td><a class="btn btn-default btn-sm" onclick="removeItem(\'' + item['_id'] + '\')">Remove</a></td>' + '</tr>';
        $('#items').append(html);
    }

    function removeItem(id) {
        $.ajax({
            url: '/dashboard/organization/delete',
            type: 'post',
            data: 'id=' + id,
            dataType: 'json',
            success: function (item) {
                $('#' + item).remove();
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function complete(response) {
        console.log(response.result);
        addItem(response.result);
    }
    window.onload = function () {
        $.ajax({
            url: '/dashboard/organization/list',
            type: 'get',
            data: null,
            dataType: 'json',
            success: function (items) {
                for (var i in items)
                    addItem(items[i]);
            },
            error: function (err) {
                console.log(err);
            }
        });

        $("input[name=user]").on("input", function (e) {
            var val = $(this).val();
            if (val === "") return;
            //You could use this to limit results
            if (val.length < 1) return;
            //console.log(val);
            $.get("/dashboard/user/list", {
                'search': val
            }, function (users) {
                var dataList = $("#users");
                dataList.empty();
                if (users.length) {
                    for (var i in users) {
                        var opt = $("<option>").html(users[i]['_id']).attr("value", users[i]['_id']);
                        dataList.append(opt);
                    }

                }
            }, "json");
        });
    }
</script>