<legend>Scope</legend>
<div class="table table-responsive">
    <table id="items" class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Scope</th>
                <th class="col-sm-1"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="info included">
                <td>Included</td>
                <td></td>
            </tr>
            <tr class="info excluded">
                <td>Excluded</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% if errors %}
<div class="alert alert-dismissable alert-danger">
    {{errors}}
</div>
{% endif %}
<form class="form ajax" method="post" action="./scope/add">
    <table class="table table-condensed">
        <tr>
            <td class="col-sm-3">
            <select class="form-control" name="type">
                <option value="included">Included Scop</option>
                <option value="excluded">Excluded Scope</option>m
            </select>
            </td>
            <td>
                <textarea class="form-control" rows="1" placeholder="Description" name="description"></textarea>
            </td>
            <td  class="col-sm-1">
                <button type="submit" class="btn btn-default">Add scope</button>
            </td>
        </tr>
    </table>
</form>
<script>
    function addItem(item) {
        var html = '<tr id="' + item['_id'] + '" class="' + item.type + '"><td>' + item.description.replace(/\n/g,'<br/>') + '</td>' + '<td><a class="btn btn-default btn-sm" onclick="removeItem(\'' + item['_id'] + '\')">Remove</a></td>' + '</tr>';
        $('#items').find('.info.' + item.type).after(html);
    }

    function removeItem(id) {
        $.ajax({
            url: '/dashboard/scope/delete',
            type: 'post',
            data: 'id=' + id,
            dataType: 'json',
            success: function (item) {
                $('#' + item).remove();
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function complete(response) {
        console.log(response.result);
        addItem(response.result);
    }
    window.onload = function () {
        $.ajax({
            url: '/dashboard/scope/list',
            type: 'get',
            data: null,
            dataType: 'json',
            success: function (items) {
                for (var i in items)
                    addItem(items[i]);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>