    <form class="form-inline" method="post">
        <fieldset>
            <legend>Scope</legend>
            <h4>Included</h4>
            <div class="table table-responsive">
        <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Included Scope</th>
                </tr>
            </thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    {% if errors %}
    <div class="alert alert-dismissable alert-danger">
        {{errors}}
    </div>
    {% endif %}
    <form class="form-inline" method="post">
        <fieldset>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="#">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Scope" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Add scope</button>
            </div>
        </fieldset>
    </form>
            <h4>Excluded</h4>
            <div class="table table-responsive">
        <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Excluded Scope</th>
                </tr>
            </thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    {% if errors %}
    <div class="alert alert-dismissable alert-danger">
        {{errors}}
    </div>
    {% endif %}
    <form class="form-inline" method="post">
        <fieldset>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="#">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Scope" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Add scope</button>
            </div>
        </fieldset>
    </form>
        </fieldset>
    </form>
