<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dashboard</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/dashboard.css">
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">promt</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Dashboard</a></li>
                        <li><a href="/dashboard/settings">Settings</a></li>
                        <li><a href="/dashboard/profile">Profile</a></li>
                        <li><a href="/dashboard/help">Help</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                    <!--
<form class="navbar-form navbar-right">
<input type="text" class="form-control" placeholder="Search...">
</form>
-->
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <img src="{{image}}" alt="{{session.username}}" class="profile-image">
                    <p class="username">{{session.username}}</p>
                    <ul class="nav nav-sidebar">
                        <li class="create-project"><a href="/dashboard/newproject" class="btn btn-warning">Create a project</a></li>
                        <li class="active"><a href="/">My Projects</a></li>
                    </ul>
                    {% if session.project %}
                    <ul class="nav nav-sidebar">
                        <li><a href="/dashboard/info">Project Info</a></li>
                        <li><a href="/dashboard/goals">Project Goals</a></li>
                        <li><a href="/dashboard/scope">Project Scope</a></li>
                        <li><a href="/dashboard/organization">Organization</a></li>
                        <li><a href="/dashboard/wireframe">Wireframes</a></li>
                        <li><a href="/dashboard/requirements">Requirements</a></li>
                        <li><a href="/dashboard/wbs">Work Breakdown Structure</a></li>
                        <li><a href="/dashboard/activities">Activities</a></li>
                        <li><a href="/dashboard/schedule">Schedule</a></li>
                        <li><a href="/dashboard/risk-management">Risk Management</a></li>
                        <li><a href="/dashboard/change-management">Change Management</a></li>
                        <li><a href="/dashboard/view">Project view</a></li>
                    </ul>
                    {% else %}
                    {% endif %}
                    <!--
                    <ul class="nav nav-sidebar">
                    <li><a href="">Nav item</a></li>
                    <li><a href="">Nav item again</a></li>
                    <li><a href="">One more nav</a></li>
                    <li><a href="">Another nav item</a></li>
                    <li><a href="">More navigation</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                    <li><a href="">Nav item again</a></li>
                    <li><a href="">One more nav</a></li>
                    <li><a href="">Another nav item</a></li>
                    </ul>
                    -->
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                    {% if section %}

                        {% include section %}

                    {% else %}
                    <!--
                    <h1 class="page-header">Dashboard</h1>

                        Welcome <strong>{{session.username}}</strong>;
                        <br>
                        This is <span class="promt">promt</span>, the best requirement based project management tool.
                        <br>
                        You can manage your projects or <a href="/dashboard/newproject">create a new one</a> easily in here.
                    -->
                    <h2 class="sub-header">Projects</h2>
                    {% if projects %}
                    
                        {% for project in projects %}
                            <!--<h2><a href="/post/{{post['permalink']}}">{{project['title']}}</a></h2>-->
                            <h2><a href="./dashboard/set?project={{project['_id']}}">{{project['title']}}</a></h2>
                            Created {{project['date']}} <i>By {{project['author']}}</i><br>
                            <hr>
                            {% autoescape false %}
                                {{project['body']}}
                            {% endautoescape %}
                            <!--
                            <em>Filed Under</em>:
                            {% for tag in project.tags %}
                                {% if loop.first %}
                                    <a href="/tag/{{tag}}">{{tag}}</a>
                                {% else %}
                                    , <a href="/tag/{{tag}}">{{tag}}</a>
                                {% endif %}
                            {% endfor %}
                            -->
                        {% endfor %}
                    
                    {% else %}
                    
                        You haven't created any projects yet!
                    
                    {% endif %}
                    
                    

                    {% endif %}

                </div>
            </div>
        </div>
        
    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="/js/dashboard.js"></script>
        
    </body>
</html>
