<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sign Up</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/dashboard.css">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">promt</a>
                </div>
            </div>
        </div>

        <div class="signup-container">

            <form class="form-horizontal" method="post">
                <fieldset>
                    <legend>Sign up</legend>
                    <p>Already a user? <a href="/login">Login</a></p>
                        <label class="control-label">Username</label>
                        <input type="text" class="form-control" name="username" value="{{username}}" placeholder="Username" required autofocus>
                        <label class="control-label">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                        <label class="control-label">Password Verify</label>
                        <input type="password" class="form-control" name="verify" placeholder="Password" required>
                        <label class="control-label">Email</label>
                        <input type="email" class="form-control" name="email" value="{{email}}" placeholder="Email" required>
                    <p></p>
                    {% if username_error || username_error || verify_error || email_error %}
                    <div class="alert alert-dismissable alert-danger">
                        {{username_error}}
                        {{password_error}}
                        {{verify_error}}
                        {{email_error}}
                    </div>
                    {% endif %}
                    <p class="pull-right">
                        <button type="submit" class="btn btn-primary">Signup</button>
                    </p>
                </fieldset>
            </form>

        </div>
    </body>

</html>
